<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
</head>

<body>
	<h1>About me</h1>
	<p>My name is Linden. I am currently going to school at BCIT. I am 22 years old. I am proficient in Python and Javascript coding language. I have a degree in "Chemical and Environmental Technology" and would love to go to Japan one of these days.</p>
</body>

{{>footer}}
</html>