<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
</head>

<body>
	<h1>Picture</h1>
	<img src='https://pa1.narvii.com/6504/99d358d43d6fe143f6e173fad9e29e6fd32d520c_hq.gif'/>
</body>

{{>footer}}
</html>